footer.footer {
    background: #29376D;
}

.footer__top {
    padding: 80px 0;
    position: relative;
    overflow: hidden;

    .footer__topbgel {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    ul {
        text-align: center;

        li {
            display: inline-block;
            vertical-align: middle;
            margin-right: 58px;
            position: relative;

            &::after {
                content: '';
                display: inline-block;
                width: 1px;
                height: 11px;
                background: #B1A5EF;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: -30px;
                opacity: 0.5;
            }

            &:last-child {
                &::after {
                    display: none;
                }
            }

            &:last-child {
                margin-right: 0;
            }

            a {
                font-weight: 500;
                font-size: 16px;
                color: #fff;
            }
        }
    }

    .violetbtn {
        max-width: 100%;
        position: relative;
        z-index: 2;
    }

}

.footer__bottom {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #181F3A;

    p {
        margin: 0;
        color: #fff;
        font-size: 14px;
        line-height: 120%;
    }
}

.footer__logo {
    img {
        max-width: 120px;
    }
}

.footer__topbgel-mob {
    display: none;
}

.footer__top ul li a {
    transition: 0.3s;

    &:hover {
        opacity: 0.7;
    }
}

.footer__top .violetbtn {
    background: #fff;
    color: #564999;

    &:hover {
        color: #fff;
        border: 2px solid #fff !important;
        background: transparent !important;
    }
}

.footer__top .violetbtn {
    &:hover {
        animation: pulse1 2s infinite;
    }
}

.footer__subscribe {
    display: flex;
    align-items: center;
    position: relative;

    button {
        border-radius: 30px;
        background: #453888;
        border: none;
        padding: 0;
        outline: none;
        color: #fff;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 100%;
        max-width: 125px;
        flex: 0 0 125px;
        position: absolute;
        right: 0;
        top: 0;
    }

    input {
        height: 49px;
        border: none;
        outline: none;
        border-radius: 30px 0 0 30px;
        width: 100%;
        max-width: calc(100% - 100px);
        flex: 0 0 calc(100% - 100px);
        padding-left: 20px;
        padding-right: 30px;

        &::placeholder {
            color: #85858C;
            font-size: 16px;
            font-family: "Montserrat", sans-serif;
        }
    }
}








@media(max-width:1499.8px) {
    .footer__subscribe input {
        font-size: 14px;

        &::placeholder {
            font-size: 14px;
        }
    }
}

@media(max-width:1399.8px) {
    .footer__subscribe input {
        height: 40px;
        max-width: calc(100% - 60px);
        flex: 0 0 calc(100% - 60px);
        padding-left: 15px;

        &::placeholder {
            font-size: 13px;
        }
    }

    .footer__subscribe button {
        max-width: 100px;
        flex: 0 0 100px;
        height: 42px;
        font-size: 14px;
    }
}

@media(max-width:1199.8px) {
    .footer__logo {
        img {
            max-width: 100px;
        }
    }

    .footer__top {
        padding: 45px 0;
    }
}

@media(max-width:991.8px) {
    .footer__top {
        text-align: center;
    }

    .footer__logo {
        position: relative;
        z-index: 2;
        margin-bottom: 30px;
        display: inline-block;
    }

    .footer__top ul {
        margin-bottom: 30px;
        position: relative;
        z-index: 2;
    }

    .footer__top ul li a {
        font-size: 18px;
    }

    .footer__subscribe {
        max-width: 400px;
        margin: 0 auto;
    }
}

@media(max-width:575.8px) {
    .footer__logo img {
        max-width: 90px;
    }

    .footer__top {
        padding: 60px 0 75px 0;
        position: relative;
        z-index: 2;
    }

    .footer__top ul {
        margin-bottom: 45px;

        li {
            display: block;
            margin: 0 0 45px 0;

            &:last-child {
                margin-bottom: 0;
            }

            &::after {
                display: none;
            }
        }
    }

    .footer__topbgel {
        max-width: 225px;
        bottom: 0;
    }

    .footer__topbgel {
        display: none;
    }

    .footer__topbgel-mob {
        display: inline-block;
        position: absolute;
        bottom: 0;
        right: 0;
        max-width: 225px;
    }

    .footer__bottom p {
        font-size: 13px;
    }

}